adafruit_requests==1.12.8
adafruit_pcf8523==1.5.14
adafruit_ahtx0==1.0.16
adafruit_ds3231==2.4.16
adafruit_bitmap_font==1.5.11
adafruit_register==1.9.13
adafruit_bus_device==5.2.3
adafruit_display_shapes==2.5.5
adafruit_espatcontrol==0.9.0
adafruit_display_text==2.22.10
circuitpython_pcf85063a==1.1.0
