adafruit_requests
adafruit_pcf8523
adafruit_ahtx0
adafruit_htu31d
adafruit_ds3231
adafruit_bitmap_font
adafruit_register
adafruit_bus_device
adafruit_display_shapes
adafruit_espatcontrol
adafruit_display_text
pcf85063a
